.recipe-tile {
  display: flex;
  flex-direction: column;
  width: 25%;
  text-align: center;
  margin: 5px;
  margin-bottom: 15px;
  line-height: 50%;
  text-decoration: none;
  color: #140F0B;
}

.recipe-tile h4 {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1;  
}

.recipe-tile img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.recipe-tile a {
  color: #140F0B;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  
  .recipe-tile button {
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
  }

  .recipe-tile img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .recipes-list a:hover {
    color: #ef6a46;
  }

  .recipe-tile a:hover {
    text-decoration: none;
  }
  
  
}