.recipes-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
  padding-bottom: 50px;
}

.no-recipes {
  text-align: center;
}

.no-recipes a {
  color: #FFF;
  text-decoration: none;
}