header {
  text-align: center;
  color: #FFF;
  background-color: #B73A1C;
  padding: 10px 0 25px 0;
}

.header-text {
  margin-top: 10%;
}

.header-logged-in, .header-logged-out {
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  position: absolute;
  top: 2%;
  right: 5%;
}

.header-logged-out a:link, .header-logged-in a:link {
  color: #140F0B;
  text-decoration: none;
}

.header-logged-out a:visited, .header-logged-in a:visited {
  color: #140F0B;
}

.header-logged-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-link, .login-link {
  margin: 1px;
}

.header-dashboard {
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  position: absolute;
  top: 2%;
  left: 5%;
}

.header-dashboard a:link, .header-dashboard a:visited {
  color: #140F0B;
  text-decoration: none;
}

.header-text a:link, .header-text a:visited {
  color: #FFF;
  text-decoration: none;
}
