header {
  /* text-align: center; */
  color: #FFF;
  background-color: #B73A1C;
  padding: 10px 0 10px 0;
}

.logo-text {
  margin-top: 10%;
  margin-bottom: 10%;
}

.logo-text h1 {
  letter-spacing: 3px;
  font-size: 36px;
}

.logo-text a {
  color: #FFF;
  text-decoration: none;
}

.header-links a {
  color: #FFF;
  text-decoration: none;
}


/* .header-logged-in, .login-link {
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  position: absolute;
  top: 2%;
  right: 5%;
} */


/* 
.header-logged-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* .register-link, .login-link {
  margin: 1px;
} */

/* .header-dashboard, .register-link {
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  position: absolute;
  top: 2%;
  left: 5%;
} */

/* .header-dashboard a {
  color: #140F0B;
  text-decoration: none;
} */


@media only screen and (min-width: 800px) {

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo-text {
    margin: 0 0 0 15px;
    display: inline-flex;
  }

  .logo-text h1 {
    font-size: 30px;
  }

  .header-links {
    display: inline-flex;
    margin-left: 50%;
    font-size: 16px;
  }

  .header-register-link {

  }

  .header-login-link {
    margin-left: 10px;
  }

  .header-dashboard-link {
  
  }

  .header-logout-link {
    margin-left: 10px;
  }

  

 
  
  
}