.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
}


.filter-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.filter-bar label {
  font-family: 'cairo', sans-serif;
  font-size: 12px;
  line-height: 50%;
}

.filter-bar select {
  width: 80px;
}

@media only screen and (min-width: 768px) {

  .search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .search {
    width: 50%;
    margin-left: 25%;
  }

  .filter-bar button {
    margin: 5px;
    border-radius: 15px;
  }

  .filter-button-on {
    background-color: #000;
  }

}
