.comment-form-container {
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
  padding-bottom: 10px;
  color: #FFF;
  padding-top: 10px;
}

.comment-form-container h4 {
  margin-bottom: 10px;
}

.comment-form-container input[type=submit] {
  background-color: #140f0b;
  border: none;
  width: 100%;
  line-height: 2;
  border-radius: 5px;
  color: #FFF;
}

@media only screen and (min-width: 800px) {

.comment-form-container {
  width: 60%;
  margin-left: 20%;  
}

}
