@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DFE4E0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h2, h3, h4, h5, p {
  font-family: 'cairo', sans-serif;
  line-height: 1;
}

h1 {
  font-family: 'Orbitron', sans-serif;
}

button {
  /* width: 100%; */
  background-color: #ef6a46;
  border: none;
  /* border: 2px solid #ef6a46; */
  text-align: center;
  font-size: 14px;
  color: #FFF;
  border-radius: 5px;
  padding: 5px;
  background-position: center;
  transition: background 0.8s;
}

button:hover {
  background: #B73A1C radial-gradient(circle, transparent 1%, #ef6a46 1%) center/15000%;
}

button:active {
  background-color:#ef6a46;
  background-size: 100%;
  transition: background 0s;
}

input [type=submit] {
  width: 100%;
  background-color: #ef6a46;
  border: none;
  /* border: 2px solid #ef6a46; */
  text-align: center;
  font-size: 18px;
  color: #FFF;
  border-radius: 5px;
}

/* input[type=submit]:hover {
  background-color: #B73A1C;
  color: #DFE4E0;
} */

input[type=text], input[type=password] {
  display: block;
  border: 1px solid #140F0B;
  padding: 2px 0 2px 5px;
  margin: 10px 0;
  width: 100%;
  line-height: 2;
  border-radius: 5px; 
  
  white-space: nowrap;
  overflow: ellipses;
  text-overflow: ellipsis;
}

textarea {
  display : block;

  padding : 10px 0 10px 5px;
  margin: 10px 0;
  width   : 100%;
  height  : 90%;
  resize: none;
  overflow: auto;
  border: 1px solid #140F0B;
  border-radius: 5px; 
}

select {
  margin: 0 2.5px;
  width: 60px;
  margin-top: 7px;
  background: #ef6a46;
  border: none;
  color: #FFF;
  /* border: 2px solid #800000; */
  text-align: center;
  font-size: 12px;
  border-radius: 5px; 
}

.form {
  width: 80%;
  margin-left: 10%;
  padding-bottom: 20px;
  margin-top: 10px;
}

.form input {
  padding: 0 0 0 5px;
}

.form button[type=submit] {
  width: 100%;
  margin-top: 10px;
}

.error-container {
  width: 80%;
  margin-left: 10%;
}

.error-message {
  color: red;
}

@media only screen and (min-width: 800px) {

  .form {
    width: 60%;
    margin-left: 20%
  }  

  .error-container {
    width: 60%;
    margin-left: 20%;
  }

  button:hover {
    cursor: pointer;
    background-color: #800000;
  }

}
  